include {{schema.location}}/core.schema
include {{schema.location}}/cosine.schema
include {{schema.location}}/inetorgperson.schema
include {{schema.location}}/nis.schema
include {{schema.location}}/misc.schema
include {{schema.location}}/mail.schema