include {{schema_location}}/core.schema
include {{schema_location}}/cosine.schema
include {{schema_location}}/inetorgperson.schema
include {{schema_location}}/nis.schema
include {{schema_location}}/misc.schema
include {{schema_location}}/mail.schema